body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height:100%;
  min-height: 100%;
  padding-top: 50px;
  margin: 0;
}



/* header navbar */
.navbar-brand{
  font-family: impact;
  font-size:32px;
}

.navbar-default {
    background-color: #31303A;
    border-bottom-color: #403F48;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: #CACFD2;
    font-family: impact;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}



.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../assets/star.jpg');
  background-size: cover;
  color: #ffffff;
  height: 520px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #626567;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #678FFE;
  color: #ffffff;
  margin: 0 0 30px;
}

.wrapper{
  height: 100%;
  min-height: 100%;
}

/* Footer */

footer {
  z-index:1;
  padding-left:0;
  padding-right:0;
  background:#31303A;
  padding:1.25rem 1.563rem;
  font-family:'sans-serif';
  font-weight:300;
  font-style:normal;
  border-top: 1px solid #403F48;
  position:relative;
  bottom:0;
}



footer .container {
  padding-top: 10px;
  max-width: 900px;
}

footer .caption{
  text-decoration:none;
  color:#ffffff;
  font-size:1rem;
  line-height:1.563rem
  }

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

