/*side bar*/
#sidebar-wrapper{
    z-index: 1;
    position:fixed;
    width:150px;
    height: 100%;
    margin-top: 51px;
    overflow-y:hidden;
    background:#31303A;
    transition:all .4s ease 0s;
}

/* Main Content*/
#page-content-wrapper{
    width: 100%;
    position:absolute;
    padding-right:0px;
    padding-top: 50px;
    padding-left:150px;
    padding-bottom: 0;
    min-height:100%
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
    
    margin-left: -100px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left:50px;
}

#wrapper{
    overflow: hidden;

}

/*Sidebar styling*/
.sidebar-nav{
    padding: 0;
    list-style: none;
    margin:0;
    position: relative;
}

.sidebar-nav li{
    text-indent:20px;
    line-height: 40px;

}

.sidebar-nav li a{
    text-decoration: none;
    color:#ddd;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}



.sidebar-brand {
    text-decoration: none;
    color:#ddd;
    font-weight: bold;
}



/* footer */
#blog-footer{
  margin-top: 50px;
  background: #3498DB;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
}