---
layout: default
title: About
permalink: /about/
---

<div id="about-content-wrapper">
    <div class="container-fluid">
        <div class="row">

        	<div class="col-md-4">
                 <div class="container-fluid">    
                    <div class="row about-main">
                        <div class="caption">Lauguages</div>
                            {% include language.html %}
  						<div class="caption">Knowledge</div>
                     		{% include knowledge.html %}
                    </div>
                </div>
            </div>
            

            <div class="about-left col-md-3">
                <div class = "image-holder one">
                        <img class="head-image up circle" src="{{site.baseurl}}/assets/pics/profile/up.jpg" />
                        <img class="head-image up-left circle" src="{{site.baseurl}}/assets/pics/profile/upleft.jpg" />
                        <img class="head-image left circle" src="{{site.baseurl}}/assets/pics/profile/left.jpg"  />
                        <img class="head-image down-left circle" src="{{site.baseurl}}/assets/pics/profile/downleft.jpg"  />
                        <img class="head-image down circle" src="{{site.baseurl}}/assets/pics/profile/down.jpg" />
                        <img class="head-image down-right circle" src="{{site.baseurl}}/assets/pics/profile/downright.jpg"  />
                        <img class="head-image right circle" src="{{site.baseurl}}/assets/pics/profile/right.jpg"  />
                        <img class="head-image up-right circle" src="{{site.baseurl}}/assets/pics/profile/upright.jpg" />
                        <img class="head-image front circle" src="{{site.baseurl}}/assets/pics/profile/front.jpg"  />
                </div>
                <div class ="caption">Song Jiaming</div>
                <p> National University of Singapore<br>
                    Applied Mathematics, Year 4
                </p>
            </div>

            <div class="col-md-5">
                 <div class="container-fluid">    
                    <div class="row about-main">
                       
                        <div class="caption">Skills</div>
                            {% include skill.html %}
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!--Script for head rotation-->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/HeadImage.js"></script>

<!-- code js for image rotate -->
<script type="text/javascript">

    var mouseX;
    var mouseY;
    var imageOne;

    /* Calling the initialization function */
    $(init);

    /* The images need to re-initialize on load and on resize, or else the areas
     * where each image is displayed will be wrong. */
    $(window).load(init);
    $(window).resize(init);

    /* Setting the mousemove event caller */
    $(window).mousemove(getMousePosition);

    /* This function is called on document ready, on load and on resize
     * and initiallizes all the images */
    function init() {

        /* Instanciate the mouse position variables */
        mouseX = 0;
        mouseY = 0;

        /* Instanciate a HeadImage class for every image */
        imageOne = new HeadImage("one");

    }

    /* This function is called on mouse move and gets the mouse position. 
     * It also calls the HeadImage function to display the correct image*/
    function getMousePosition(event) {

        /* Setting the mouse position variables */
        mouseX = event.pageX;
        mouseY = event.pageY;

        /*Calling the setImageDirection function of the HeadImage class
         * to display the correct image*/
        imageOne.setImageDirection();

    }

</script>