---
layout: blog_page
---


<!-- Page Content -->
 

<div class="row blog-row">
    {% for post in site.categories.Cat %}
        <div class="col-sm-3">
        	
	    	<div class="thumbnail">
	    		
	  			<p id="top"> 
	  				{{post.category}} 
	  				<span id="block-date"> {{ post.date | date_to_string}} </span>
	  			</p>
	  			
	  			<img src="{{site.baseurl}}{{ post.source }}" class = "image">
	  			
	  			<div class="middle">
	  				<a href="#">
			 			<h1><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h1>
	  				</a>
	  			</div>
			    <div class="caption">
			        <h2>{{ post.title }}</h2>
			        <h5>{{ post.excerpt }}</h5>
			        <p id="tag">
			        	{% for tag in post.tags %}
			        		<a href="#"><span class="label label-default"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{ tag }}</span></a>
			        	{% endfor %}
			        </p>
			    </div>
				
		</div>
        </div>
    {% endfor %}
</div>
