<div class="thumbnail">
	  <p> Blog </p>
      <img src="{{baseurl}}/assets/cats/cat1.jpg" alt="{{baseurl}}/assets/cats/cat2" class = "image">
      <div class="middle">
   		 <h1><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></h1>
	  </div>
     
      <p>Today's date</p>
      <div class="caption">
        <p>Cute cat 1</p>
        <p>This is a very cute cat</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
</div>
