<nav class="navbar navbar-default navbar-fixed-top" style="min-height: 35px !important;">
  
  <div class="container-fluid">

        
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <!--logo-->    
      <a class="navbar-brand" href="{{site.baseurl}}/index.html">
        <span style="color:#58A9C4;">STH</span></a>
     </div>
     
      <!-- Nav Items-->
     <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
          <li><a href="{{site.baseurl}}/index.html">Home</a></li>
          <li><a href="{{site.baseurl}}/blog.html">Articles</a></li>
      </ul>
     </div>

    </div>
</nav>
