<!-- Sidebar -->

 <div id="sidebar-wrapper">
    <div style="float: left; width: 50%;">

      <ul class="sidebar-nav">
      	<li class="sidebar-brand">Category</li>
        <li><a href="#">General</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Excels</a></li>
      </ul>
    </div>
  	
    <div style="float: right; width: 50%;">
  		<ul class="sidebar-nav">
  		  <li class="sidebar-brand"><a href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></a></li>
      </ul>
    </div>
</div>


