<div class="grid-block">
    <ul class="list-unstyled list-skills">
        <li>
            <span class="caption-skill">HTML</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">HTML</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span>100%</span></div>
                
            </div>
            
        </li>
        
            <li>
                
                    <span class="caption-skill">Bootstrap</span>
                
                
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%">
                            <span>90% </span>
                        </div>
                    </div>
                
            </li>
        
            <li>
                
                    <span class="caption-skill">JavaScript</span>
                
                
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%">
                            <span>70% </span>
                        </div>
                    </div>
                
            </li>
        
            <li>
                
                    <span class="caption-skill">AngularJS</span>
                
                
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%">
                            <span>70% </span>
                        </div>
                    </div>
                
            </li>
        
    </ul>
</div>