body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height:100%;
  min-height: 100%;
  padding-top: 50px;
  margin: 0;
}



/* header navbar */
.navbar-brand{
  font-family: impact;
  font-size:32px;
}

.navbar-default {
    background-color: #E08D7B;
    border-bottom-color: #FCDBDB;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: #FCE8E8;
    font-family: impact;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}



.homepage {
  display: flex;
  align-items: center;
  background-image: url('../table.jpg');
  background-size: cover;
  color: #2e282a;
  height: 520px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.homepage h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}

.homepage h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  margin-top: 20px;
  border-radius: 2px;
  border: 0px;
  color: #31303A;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #FCDBDB;
}

.btn-secondary {
  background-color: #678FFE;
  color: #ffffff;
  margin: 0 0 30px;
}

.wrapper{
  height: 100%;
  min-height: 100%;
}

/* Footer */

footer {
  z-index:1;
  padding-left:0;
  padding-right:0;
  background:#E08D7B;
  padding:1.25rem 1.563rem;
  font-family:'sans-serif';
  font-weight:300;
  font-style:normal;
  border-top: 1px solid #FCDBDB;
  position:relative;
  bottom:0;
}



footer .container {
  padding-top: 10px;
  max-width: 900px;
}

footer .caption{
  text-decoration:none;
  color:#ffffff;
  font-size:1rem;
  line-height:1.563rem
  }

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

/*side bar*/
#sidebar-wrapper{
    z-index: 1;
    position:fixed;
    width:150px;
    height: 100%;
    overflow-y:hidden;
    background:#E08D7B;
    transition:all .4s ease 0s;
    border-right: 1px solid #FCDBDB; 
    margin-left: 0px;
    margin-left: -100px;
}

/* Main Content*/
#page-content-wrapper{
    width: 100%;
    padding-right:50px;
    padding-left:100px;
    padding-bottom: 0;
    min-height:100%
    height:100%;
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
    margin-left: 0px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left:200px;
}

#wrapper{
    overflow: hidden;
}


/*Sidebar styling*/
.sidebar-nav{
    padding: 0;
    list-style: none;
    margin:0;
    position: relative;
}

.sidebar-nav li{
    text-indent:20px;
    line-height: 40px;

}

.sidebar-nav li a{
    text-decoration: none;
    color:#ffffff;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}



.sidebar-brand {
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
}
