#about-content-wrapper {
  max-height: 100%;
  min-height: 100%;
  background-color: #676267;
}

.about-left {
    background-color: #31303A;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* for head rotation*/
.about-left .image-holder{
  position: relative;
  display: inline-block;
	height:240px;
	width:240px;
  margin-top: 20px;
}


.head-image{
  position: absolute;
  width: 240px;
  height: 240px;
  overflow: hidden;
  top:0;
  left:0;
  border-radius: 50%;
  border: 20px solid #58A9C4;
}

.head-image{
    z-index: 0;
}
.front{
    z-index: 1;
}



/* Caption */
.about-left .caption{
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-block;
	font-family: impact;
	color: #E08D7B;
	font-size:2em;
}

.about-left p {
	color: white;
}

/* Main about */
.about-main {
  background-color: #FCFCFC;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:5px 10px 3px 10px;
}

.about-main .caption{
  font-family: impact;
  color: #58A9C4;
  font-size:2em;
}