.article{
	background-color: #FCFCFC;
	height: 100%;
	margin-bottom: 0px;
	text-align:center;
	width:100%;
	display: inline-block;

}

.article-banner img {
	height:400px;
	overflow: hidden;
	margin-bottom: 0;
}
.article-body {
	z-index: 1;
	margin:50px;
	position:relative;
	margin-top: -80px;
	border-radius:30px;
	border: 1px solid #7c7c7c;
	background-color: #FCFCFC;
	font-family: 'Sans-serif';

}



.article-title h1{
	font-size:250%;
}

span {
	padding-right: 2px;
	padding-left: 2px;
}

.separator {
	padding-right: 10px;
	padding-left: 10px;
}

.article-content {
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	display: block;
	color: black;
}

/* Top button */
.article-content #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 220px; /* Place the button at the bottom of the page */
    right: 90px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-style: bold;
    color: white;
    background-color: #A3E4D7;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
    width: 25px;
    height:25px;
    padding-right:1px;
}

.article-content #myBtn2 {
    position: fixed; /* Fixed/sticky position */
    bottom: 190px; /* Place the button at the bottom of the page */
    right: 90px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-style: bold;
    color: white;
    background-color: #A3E4D7;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
    width: 25px;
    height:25px;
    padding-left:1px;
}