.grid-block {
    margin:10px;
}
/* skills css */
.list-skills li .progress {
    box-shadow: none;
    overflow: inherit;
}

.list-skills li .progress .progress-bar {
    text-align: right;
    position: relative;
    box-shadow: none;
}

.list-skills li .progress .progress-bar span {
    position: relative;
    bottom: -15px;
    font-size: 10px;
    color: white;
    right: -13px;
    display: inline-block;
    background: #D84E4E;
    padding: 1px 5px;
    border-radius: 5px;
}

.list-skills li .progress .progress-bar span:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    border-bottom: 5px solid #D84E4E;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;.list-skills li .progress .progress-bar span {
    position: relative;
    bottom: -15px;
    font-size: 10px;
    color: white;
    right: -13px;
    display: inline-block;
    background: #D84E4E;
    padding: 1px 5px;
    border-radius: 5px;
}
