.blog-row{
  padding-top: 2px;
}

a {
  color: unset;
}

.thumbnail {
	margin-top: 25px;
  margin-bottom: 25px;
	-ms-flex:1 0 300px;
	-webkit-box-flex:1;
	-webkit-transition:all .3s;
	transition:all .3s;
	position:relative;
	z-index:1;
	background-color: #31303A;
  color: #ffffff;
  border-color: #31302A;
  height:100%;
}

.thumbnail .caption {
  color: #ffffff;
  padding-top: 0;

}


.thumbnail img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  height:200px;
  width:100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.thumbnail:hover img {
  opacity: 0.3;
}
.thumbnail:hover .thumbnail {
  height: 110%;
  width: 110%;
}

.thumbnail:hover .middle {
  opacity: 1;
}

:hover a{
  color: unset;
}
.middle:hover .glyphicon-eye-open {
  color: #E08D7B;
}

.thumbnail:hover{
	z-index:2;
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

.thumbnail #top {
  font-family: impact;
}

.thumbnail h3 {
  font-family: impact;
}