---
layout: blog_page
---



<div class="article">
    <div class="article-banner">
        {% if page.banner %}

            <img src= "{{site.baseurl}}/{{page.banner}}">

        {% endif %}
    </div>

    <div class="article-body">

        <div class = "article-title">
            <big><h1>{{ page.title }}</h1></big>
        </div>

        <p class="article-info">
            {% if page.author %}
            <span class="glyphicon glyphicon-user"></span>
            <span class="text"> {{ page.author }}</span>
            <span class="separator"> | </span>
            {% endif %}


            {% if page.date %}
            <span class="glyphicon glyphicon-calendar"></span>
            <span>  {{page.date | date_to_string}} </span>
            {% endif %}

        </p>

        <!--
        {% if page.imgsrc %}
            <div class="article-image">
            <img src= "{{site.baseurl}}/{{page.imgsrc}}">
            </div>
        {% endif %}
        -->
        <div class= "article-content">
            <div class = "#content">
                 <hr>
                 {{ content | replace: '<li>[ ]', '<li class="box task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled>' | replace: '<li>[x]', '<li class="box_done task-list-item"><input type="checkbox" class="task-list-item-checkbox" value="on" disabled checked>' }}

           		 <div type="button" onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span></div>
            </div>
        </div>

    </div>
</div>


