<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">


	<!-- If IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">

	<link rel="stylesheet" type = "text/css" href="{{site.baseurl}}/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">

	<title>A bit of Something</title>

</head>

<body>
	<header>
		{% include header.html%}
	</header>
	
    <section>
    	{{ content }}
    </section>

	<footer class="footer">
		{% include footer.html %}
	</footer>
  		
  		
    	

{% include script.html %}

</body>
</html>